.idea
__pycache__
data
llm-generated
.envrc
**/.DS_Store
benches/HumanEval-Dafny-Mini/
break_assert.rs
.venv
**/target
log
.ruff_cache
.vscode
.zed
run.sh
/dist/
**/.pytest_cache
run_nagini.py
/tmp
results/*
!results/archive
/log_tries/
/log_tries/*
.direnv
scripts/processed
scripts/processed/*
*dump.txt
**/.verus-log
